{% extends 'base.html.twig' %}

{% block body %}

	<!-- Modal -->
	<div class="modal fade" id="modal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content main-modal">
				<div class="modal-header small-modal-header">					
					<h4 class="modal-title">Who are you?</h4>
				</div>
				<div class="modal-body small-modal-body">
					<div class="form-group">
					    <select class="form-control" id="selChatMember">
                            <option v-for="member in chat.members" :value="member.name" v-cloak>{ member.name }</option>
                        </select>
					</div>
				</div>
				<div class="modal-footer small-modal-footer">
					<button 
                        type="button"
                        id="btnModalOk"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        @click="chooseChatMember()"
                    >
                        OK
                    </button>
				</div>
			</div>		  
		</div>
	</div>

    <div class="container-fluid">
        <div class="row">
            <div class="sidebar sidebar-left col-sm-3">
                <form
                    id="frmLoadChat"
                    class="chat-form"
                    action="upload"
                    method="POST"
                    enctype="multipart/form-data"
                    @submit="uploadChatFile()"
                >
                    <div class="form-group">
                        <label for="importFile">Load the chat file to analyse:</label>
                        <input
                            type="file"
                            class="form-control-file file-input"
                            id="importFile"
                            name="chatFile"
                            aria-describedby="fileHelp"
                            v-on:change="chatFileChanged()"
                        >
                    </div>
                    <div id="importStatus" v-cloak>
                        <div class='loader' v-show="loading"></div>
                        { message }
                    </div>
                </form>
                <form id="frmSearchMessages" class="chat-form" action="/searchMessages">
                    <div class="form-group">
                        <label for="searchTerm">Enter a search word or phrase:</label>
                        <div class="emoji-picker-container">
                            <input type="text" class="form-control" id="searchTerm" placeholder="Word/phrase to search for" data-emojiable="true">
                        </div>
                    </div>
                    <button id="btnSearch" type="submit" class="btn btn-primary" v-bind:class="{ disabled: loading }" v-cloak>
                        <div id="btnSearchText" class="buttonText">
                            <div class='loader' v-show="loading"></div>
                            { buttonText }
                        </div>
                    </button>
                </form>
                <div id="chatMembers" v-show="hasMembers()" v-cloak>
                    <label>Chat members</label>
                    <ul id="ulChatMembers">
                        <li v-for="member in chat.members">
                            { member.name } ({ member.msgCount } messages)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main col-sm-6">
                <div id="messages">
                    <div v-for="(message, index) in chat.messages" v-cloak>
                        <message-item
                            :msg="message"
                            :previous-msg="chat.messages[index - 1]"
                            :sender-to-show-as-me="chat.senderToShowAsMe"
                            :search-term="searchTerm"
                        >
                        </message-item>
                    </div>
                </div>
            </div>
            <div id="searchSummary" class="sidebar sidebar-right col-sm-3">
                <div id="results"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/chat-analyser.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/emoji.css') }}">
{% endblock %}

{% block headerJavascripts %}
    <script src="https://unpkg.com/vue"></script>
{% endblock %}

{% block bodyJavascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/moment.js') }}"></script>
    <script src="{{ asset('js/emoji-picker-config.js') }}"></script>
    <script src="{{ asset('js/emoji-picker-util.js') }}"></script>
    <script src="{{ asset('js/jquery.emojiarea.js') }}"></script>
    <script src="{{ asset('js/emoji-picker.js') }}"></script>
    <script src="{{ asset('js/chart.min.js') }}"></script>
    <script src="{{ asset('js/chat.js') }}"></script>
    <script src="{{ asset('js/vue-test.js') }}"></script>
{% endblock %}
